@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');


:root {
  --background-100: #f6f6fb;
  --background-200: #ededf6;
  --background-300: #e3e3f2;
  --background-400: #dadaed;
  --background-500: #d1d1e9;
  --background-600: #a7a7ba;
  --background-700: #7d7d8c;
  --background-800: #54545d;
  --background-900: #2a2a2f;

  --orange-100: #ffe7cd;
  --orange-200: #ffd09b;
  --orange-300: #ffb86a;
  --orange-400: #ffa138;
  --orange-500: #ff8906;
  --orange-600: #cc6e05;
  --orange-700: #995204;
  --orange-800: #663702;
  --orange-900: #331b01;

  --pink-100: #fad6e2;
  --pink-200: #f5adc6;
  --pink-300: #ef83a9;
  --pink-400: #ea5a8d;
  --pink-500: #e53170;
  --pink-600: #b7275a;
  --pink-700: #891d43;
  --pink-800: #5c142d;
  --pink-900: #2e0a16;
  
  --primary-100: #e2e0ff;
  --primary-200: #c1beff;
  --primary-300: #a29dff;
  --primary-400: #837dff;
  --primary-500: #645cff;
  --primary-600: #504acc;
  --primary-700: #3c3799;
  --primary-800: #282566;
  --primary-900: #141233;

  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;

  --red-100: #fadede;
  --red-200: #f4bcbc;
  --red-300: #ef9b9b;
  --red-400: #e97979;
  --red-500: #e45858;
  --red-600: #b64646;
  --red-700: #893535;
  --red-800: #5b2323;
  --red-900: #2e1212;
  
  --dark: #0f0e17;
  --para: var(--grey-700);
}

::placeholder {
  color: var(--para);
}

*::after, *::before, * {
  font-family: "Josefin Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  user-select: none;
  color: var(--para);
}

body {
  margin: 0;
  font-family: "Josefin Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--grey-50);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input {
  width: 100%;
  height: 5vh;
  border: 2px solid #271c19;
  border-radius: 10px;
  font-size: 2.5vh;
  text-indent: 10px;
  background-color: var(--grey-200);
}

.full {
  font-size: 2.5vh;
  width: 90vw;
  margin: 0 auto;
  margin-top: 5vmin;
}

.item {
  border: 2px solid #271c19;
  border-radius: 10px;
  margin: 10px 0;
  width: 100%;
  height: 5vh;
  background-color: var(--grey-200);
  display: flex;
  align-items: center;
}

.item-checkbox {
  background-color: var(--grey-100);
  border: 2px solid #271c19;
  border-radius: 10px;
  min-width: 20px;
  height: 3vh;
  width: 3.5vh;
  margin: 0 10px;
  cursor: pointer;
  
}

.item-title {
  user-select: none;
  width: 100%;
}


.count {
  margin: 10px 0;
}

.navbar { 
  margin: 0;
  padding: 0 4.5vw;
  width: 100%;
  height: 13vh;
  background-color: var(--grey-100);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar > p {
  margin: 0;
  padding: 0;
  font-weight:bolder;
}

.check {
  position: relative;
  font-size: 8vmin;
  bottom: 5px;
}

.item:hover .x {
  border: 2px solid var(--primary-500);
  color: var(--primary-500);
}

.x {
  display: flex;
  margin: 0 10px;
  font-family: 'Concert One', cursive;
  color: transparent;
  transition: all 0.25s linear;
  border: 2px solid rgba(150, 86, 161, 0);
  border-radius: 10px;
  height: 3vmin;
  width: 3vmin;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navbar-title {
  font-size: 4.5vmin;
}

.navbar-header {
  font-size: 7vmin;
}

.navbar-img {
  height: 9vh;
  border: 2px solid var(--primary-500);
  border-radius: 10px;
  margin-left: auto;
  margin-right: 1vw;
}

select {
  text-indent: 10px;
  width: 100%;
  height: 100%;
  border: 2px solid #271c19;
  border-radius: 10px;
  font-size: 2vh;
  box-shadow: 0 10px 25px (0, 0, 0, 1);
  background-color: var(--grey-200);
  
}

.drop-container {
  width: 30%;
}

.dropDown {
  min-width: 150px;
  height: 5vh;
  width: 100%;
  margin-bottom: 20px;
  display: inline-block;
  position: relative;
}

.custom-arrow {
  border: 2px solid #271c19;
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
  background: var(--primary-500);
  display: block;
  height: 100%;
  width: 5vh;
  pointer-events: none;
  cursor: pointer;
}

.custom-arrow::before,
.custom-arrow::after {

  --size: .35em;
  
  content: "";
  position: absolute;
  width: 0;
  height: 0;

  left: 50%;

  transform: translate(-50%, -50%);
}

.custom-arrow::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid rgba(255, 255, 255, 0.5);
  top: 35%;
}

.custom-arrow::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid rgba(255, 255, 255, 0.5);
  top: 65%;
}

.popup {
  border: 2px solid #271c19;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--grey-400);
  width: 35vw;
  height: 30.5vh;
  text-align: center;
  font-size: 2.5vw;
  padding: 0;
  font-weight: bolder;
}

.popup-header {
  padding: 0;
}

.x-btn {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: 'Concert One', cursive;
  color: var(--grey-700);
  transition: all 0.2s linear;
  height: 5vmin;
  width: 5vmin;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 3.5vmin;
  position: absolute;
  top: 0;
  right: 0;
}

.x-btn:hover {
  color: var(--primary-500);
}

.popup-title {
  font-size: 3.7vmin;
  padding: 0;
  max-width: 84%;
  margin: 3vh;
}


.buttons {
  margin-top: 8vmin;
  font-size: 4vmin;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 9vmin;
  width: 100%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2vmin;
  border: 2px solid #271c19;
  border-radius: 10px;
  min-width: 13vw;
  background-color: var(--primary-500);
  color: var(--grey-50);
  cursor: pointer;
  transition: all 0.2s linear;
}

.btn:hover {
  background-color: var(--primary-700);
}

.hero { 
  display: flex;
  margin-bottom: 20px;
  columns: 1fr, 1fr, 1fr;
}

.archive-btn {
  font-size: 2vmin;
  display: flex;
  align-items: center;
  margin: 0 30px;
  border: 2px solid #271c19;
  border-radius: 10px;
  min-width: 150px;
  height: 5vh;
  width: 15%;
  background-color: var(--grey-200);
}

.archive-checkbox {
  background-color: var(--grey-100);
  border: 2px solid #271c19;
  border-radius: 10px;
  height: 3.5vh;
  width: 3.5vh;
  margin: 0 10px;
  cursor: pointer;
}

.item-drop {
  top: 10px;
  right: 7vmin;

  min-width: 150px;
  height: 3vh;
  width: 15vw;
  margin-bottom: 20px;
  display: inline-block;
  position: relative;
}

.item-arrow {
  border: 2px solid #271c19;
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
  background: var(--primary-500);
  display: block;
  height: 100%;
  width: 3vh;
  pointer-events: none;
  cursor: pointer;
}

.item-arrow::before,
.item-arrow::after {

  --size: .2em;
  
  content: "";
  position: absolute;
  width: 0;
  height: 0;

  left: 50%;

  transform: translate(-50%, -50%);
}

.item-arrow::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid rgba(255, 255, 255, 0.9);
  top: 30%;
}

.item-arrow::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid rgba(255, 255, 255, 0.9);
  top: 60%;
}

.new-group-container {
  margin-left: auto;
  margin-right: 1vw;
  border: 2px solid #271c19;
  border-radius: 10px;
  height: 5vh;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vmax;
  cursor: pointer;
  background-color: var(--primary-500);
  transition: all 0.2s linear;
}

.new-group-container > p {
  margin: 0 20px;
  color: var(--grey-50);
}

.new-group-container:hover {
  background-color: var(--primary-700);
}

.bold {
  color: var(--grey-50);
  font-size: 2vmax;
}

.back-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba( 0, 0, 0, 0.75);
}

.groupName-enter {
  width: 100%;
  font-size: 4vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1vw;
}

.group-field {  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.popup-group-title {
  font-size: 3.7vmin;
  padding: 0;
  max-width: 84%;
  margin: 3vh;
  margin-bottom: 1vh;
}

.file-upload {
  display: flex;
  width: 100%;
  height: 5vh;
  border: 2px solid #271c19;
  border-radius: 10px;
  background-color: var(--grey-200);

}

.groupImg-enter {
  width: 100%;
  font-size: 4vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1vw;
}

.groupImg-enter > form {
   width: 50%;
}

.img-upload {
  display: flex;
  height: 5vh;
  align-items: center;
  column-gap: .5vw;
  width: 50%;
}

.img-upload > p {
  font-size: 1vw;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--grey-500);
  max-width: 250px;
}

.img-upload > button {
  height: 100%;
  border: 2px solid #271c19;
  border-radius: 10px;
  background-color: var(--primary-500);
  color: var(--grey-50);
  font-size: 1vw;
  transition: all .2s linear;
  cursor: pointer;
  width: 100%;
  margin-right: 1vw;

}

.img-upload > button:hover {
  background-color: var(--primary-700);
}

.group-pop {
  border: 2px solid #271c19;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--grey-400);
  width: 35vw;
  height: 45%;
  text-align: center;
  font-size: 2.5vw;
  padding: 0;
  font-weight: bolder;
}

.submit-group {
  margin-top: 2vh;
  height: 5vh;
  border: 2px solid #271c19;
  border-radius: 10px;
  width: 85%;
  transition: all 0.2s linear;
  background-color: var(--primary-500);
  color: var(--grey-50);
  font-size: 60%;
}

.submit-group:hover {
  background-color: var(--primary-700);
}

.name-form {
  width: 50%;
}

.delete-group-btn {
  border: 2px solid #271c19;
  border-radius: 10px;
  height: 5vh;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vmax;
  cursor: pointer;
  background-color: var(--red-500);
  transition: all 0.2s linear;
}

.delete-group-btn:hover {
  background-color: var(--red-600);
}

.delete-group-btn > p {
  margin: 0 20px;
  color: var(--grey-50);
}

.dropSelect, .item-select {
  cursor: pointer;
}

.buttons-group {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  justify-content: center;
  align-items: center;
}

.group-btn {
  height: 8vh;
  width: 75%;
}